<footer class="d-flex align-items-center justify-content-between text-center mt-5 py-3 bg-success bg-opacity-75 text-white fw-bold">
    <!-- Imagem à esquerda -->
    <div class="footer-left">
        <img src="/media/global/sustenpratos_branco.png" alt="Logo branco" style="max-height: 110px;">
    </div>

    <!-- Conteúdo central -->
    <div class="footer-center">
        <p id="parag_foot">2024 ~ <script>document.write(new Date().getFullYear());</script></p>
        <p id="parag_foot">Desenvolvido por Kevin Neres</p>
    </div>

    <!-- (Opcional) Logos à direita -->
    <div class="footer-right">
        <img src="/media/global/logo_fulpel_branco.png" alt="Logo Fulpel" style="max-height: 55px;">
    </div> 
</footer>