{% extends "global/base.html" %}
{% load menu_filters %}


{% block title %}Empresas{% endblock title %}

{% block content %}

    <div class="container">
        <!-- Título -->
        <div class="text-center my-3">
            <h1 id="titulo_home" class="text-success-75">Empresas</h1>
        </div>

        <!-- Filtros e Paginação -->
        <form method="get" action="" class="mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="input-group" style="max-width: 400px;">
                    <input type="text" name="search" class="form-control" placeholder="Pesquisar empresa" value="{{ request.GET.search }}">
                    <button class="btn btn-outline-secondary" type="submit">🔍</button>
                </div>
            </div>
        </form>

        <!-- Tabela -->
        <div class="table-container">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in page_obj %}
                        <tr>
                            <td><input type="checkbox" class="select-row" value='{{ company.id }}'></td>
                            <td>{{ company.company_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Paginação -->
        {% include "menu/partials/_pagination.html" %}
        

        <!-- Botões -->
    <div class="btn-group-custom mt-3">
        <button class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#createModal">Criar</button>
        <button id='edit-button' class="btn btn-warning me-2" 
        data-bs-toggle="modal" 
        data-bs-target="#editModal" >
            Editar
        </button>
        <button id="delete-button" class="btn btn-danger me-2" 
        data-bs-toggle="modal" 
        data-bs-target="#deleteModal">
            Excluir
        </button>
    </div>


    {% include "menu/partials/_modal_create.html" %}
    {% include "menu/partials/_modal_delete.html" %} 
    {% include "menu/partials/_modal_update.html" %} 

    <script>
        // Script para selecionar/desmarcar todas as linhas
        document.getElementById('select-all').addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.select-row');
            checkboxes.forEach(cb => cb.checked = this.checked);
        });

        const createModal = new bootstrap.Modal(document.getElementById('createModal'));
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Selecionando elementos
            const checkboxes = document.querySelectorAll('.select-row'); // Classe correta dos checkboxes
            const editarButton = document.querySelector('#edit-button'); // ID correto do botão "Editar"

            // Inicialmente desabilita o botão
            editarButton.disabled = true;
    
            // Função para verificar se algum checkbox está selecionado
            const verificarSelecao = () => {
                const algumSelecionado = Array.from(checkboxes).some(checkbox => checkbox.checked);
                editarButton.disabled = !algumSelecionado;
            };
    
            // Adiciona o evento de mudança nos checkboxes
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    verificarSelecao();
                });
            });
    
            // Evento de clique no botão "Editar"
            editarButton.addEventListener('click', function () {
                // Obtém o checkbox selecionado
                const selecionado = Array.from(checkboxes).find(checkbox => checkbox.checked);
                if (selecionado) {
                    const empresaId = selecionado.value;
    
                    // Faz a requisição à API
                    const url = `/get-company/${empresaId}/`;

                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao buscar os dados: ' + response.status);
                            }
                            return response.json();
                        })
                        .then(data => {

                            // Preenchendo os campos do modal
                            document.querySelector('#edit_category_id').value = data.id;
                            document.querySelector('#edit_name').value = data.company;

                            // Mostrando o modal
                            const modal =  new bootstrap.Modal(document.getElementById('#editModal'));
                            modal.show();
                        })
                        .catch(error => {
                            console.error('Erro ao chamar a API:', error);
                        });
                } else {
                    console.warn('Nenhum checkbox está selecionado.');
                }
            });
        });
    </script>
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('.select-row');
            const deleteButton = document.querySelector('#delete-button');
            const confirmDeleteButton = document.querySelector('#confirm-delete');
            let selectedCompanytIds = [];
    
            // Inicialmente desabilita o botão
            deleteButton.disabled = true;
    
            // Função para verificar se algum checkbox está selecionado
            const verificarSelecao = () => {
                selectedCompanytIds = Array.from(checkboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);
    
                deleteButton.disabled = selectedCompanytIds.length === 0;
            };
    
            // Adiciona o evento de mudança nos checkboxes
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', verificarSelecao);
            });
    
            // Abre o modal de confirmação quando o botão Excluir for clicado
            deleteButton.addEventListener('click', function () {
                // Fechar o modal de edição, se estiver aberto
                const modal =  new bootstrap.Modal(document.getElementById('#deleteModal'));
                if (editModal) {
                    editModal.hide();
                }
    
                // Abrir o modal de exclusão
                if (selectedCompanytIds.length > 0) {
                    const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
                    deleteModal.show();
                } else {
                    console.warn('Nenhum checkbox selecionado.');
                }
            });
    
            // Quando o botão de confirmação de exclusão for clicado
            confirmDeleteButton.addEventListener('click', function () {
                if (selectedCompanytIds.length > 0) {
                    // Realizar requisição para excluir os itens
                    fetch('/delete-companies/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            company_ids: selectedCompanytIds,
                        }),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao excluir as empresas');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.message) {
                            location.reload();
                        } else {
                            console.warn('Nenhuma mensagem de sucesso recebida:', data);
                        }
                    })
                    .catch(error => {
                        console.error('Erro na requisição:', error);
                    });
                } else {
                    console.warn('Nenhum ID selecionado para exclusão.');
                }
            });
        });
    </script>
    

    

{% endblock content %}