{% extends "global/base.html" %}
{% load menu_filters %}

{% block title %}Home{% endblock title %}



{% block content %}
    <!-- Título Principal -->
    <div class="text-center my-3">
        <h1 id="titulo_home" class="text-success-75">Controle De Refeições <i class="fas fa-utensils"></i></h1>
        <p id="p_home">Cardápio {{ week_menu.0.date_meal|date:"d/m" }} à {{ week_menu.4.date_meal|date:"d/m" }}</p>
    </div>

    <form method="post" action="{% url 'menu:save_user_choices' %}">
        {% csrf_token %}
        <input type="hidden" name="menu_id" value="{{ menu.id }}"> 
        <!-- Grid de Cards -->
        <div class="container">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                <!-- Card 1 (Segunda) -->
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ week_menu.0.image_meal.url }}" class="card-img-top" alt="Imagem do card">
                        <div class="card-body" id="card_segunda">
                            <p class="text-left"> {{ week_menu.0.date_meal }} </p>
                            <h6 class="card-title text-left">Segunda-feira</h6>
                            <h5 class="text-left fw-bold"> {{ week_menu.0.title}} </h5>
                            <p class="text-left"> Com {{ week_menu.0.side_dish }} </p>
                            <div class="d-flex flex-column align-items-start">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="form-check form-check-inline">
                                        <input 
                                            type="hidden" 
                                            name="choice_{{ week_menu.0.id }}" 
                                            value="null"
                                        >
                                        <input 
                                            class="form-check-input" 
                                            type="radio" 
                                            name="choice_{{ week_menu.0.id }}" 
                                            value="{{ week_menu.0.name_option_1.id }}" 
                                            id="option1asegunda"
                                            {% if user_choices|get_option:week_menu.0.id == week_menu.0.name_option_1.id %}checked{% endif %}
                                        >
                                        <label class="form-check-label" for="option1asegunda">{{ week_menu.0.name_option_1.name_option }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input 
                                            class="form-check-input" 
                                            type="radio" 
                                            name="choice_{{ week_menu.0.id }}" 
                                            value="{{ week_menu.0.name_option_2.id }}" 
                                            id="option1bsegunda"
                                            {% if user_choices|get_option:week_menu.0.id == week_menu.0.name_option_2.id %}checked{% endif %}
                                        >
                                        <label class="form-check-label" for="option1bsegunda">{{ week_menu.0.name_option_2.name_option }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input 
                                            class="form-check-input" 
                                            type="radio" 
                                            name="choice_{{ week_menu.0.id }}" 
                                            value="{{ week_menu.0.name_option_3.id }}" 
                                            id="option1csegunda"
                                            {% if user_choices|get_option:week_menu.0.id == week_menu.0.name_option_3.id %}checked{% endif %}
                                        >
                                        <label class="form-check-label" for="option1csegunda">{{ week_menu.0.name_option_3.name_option }}</label>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <a href="{% url 'menu:progress_page' %}" class="btn btn-secondary btn-sm">?</a>
                        </div>
                    </div>
                </div>

                

                <!-- Card 2 (Terça) -->
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ week_menu.1.image_meal.url }}"  class="card-img-top" alt="Imagem do card">
                        <div class="card-body text-white" id="card_terca">
                            <p class="text-left"> {{ week_menu.1.date_meal }} </p>
                            <h6 class="card-title text-left">Terça-feira</h6>
                            <h5 class="text-left fw-bold">{{ week_menu.1.title }}</h5>
                            <p class="text-left">Com {{ week_menu.1.side_dish }}</p>
                            <div class="d-flex flex-column align-items-start">
                                <div class="form-check form-check-inline">
                                    <input 
                                            type="hidden" 
                                            name="choice_{{ week_menu.1.id }}" 
                                            value="null"
                                    >
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.1.id }}" 
                                        value="{{ week_menu.1.name_option_1.id }}" 
                                        id="option1aterca"
                                        {% if user_choices|get_option:week_menu.1.id == week_menu.1.name_option_1.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1aterca">{{ week_menu.1.name_option_1.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.1.id }}" 
                                        value="{{ week_menu.1.name_option_2.id }}" 
                                        id="option1bterca"
                                        {% if user_choices|get_option:week_menu.1.id == week_menu.1.name_option_2.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1bterca">{{ week_menu.1.name_option_2.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.1.id }}" 
                                        value="{{ week_menu.1.name_option_3.id }}" 
                                        id="option1cterca"
                                        {% if user_choices|get_option:week_menu.1.id == week_menu.1.name_option_3.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1cterca">{{ week_menu.1.name_option_3.name_option }}</label>
                                </div>
                            </div>
    
                        </div>
                        <div class="card-footer text-end">
                            <a href="{% url 'menu:progress_page' %}" class="btn btn-secondary btn-sm">?</a>
                        </div>
                    </div>
                </div>




                <!-- Card 3 (Quarta) -->
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ week_menu.2.image_meal.url }}"  class="card-img-top" alt="Imagem do card">
                        <div class="card-body" id="card_quarta">
                            <p class="text-left"> {{ week_menu.2.date_meal }} </p>
                            <h6 class="card-title text-left">Quarta-feira</h6>
                            <h5 class="text-left fw-bold"> {{ week_menu.2.title }} </h5>
                            <p class="text-left">Com  {{ week_menu.2.side_dish }} </p>
                            <div class="d-flex flex-column align-items-start">
                                <div class="form-check form-check-inline">
                                    <input 
                                            type="hidden" 
                                            name="choice_{{ week_menu.2.id }}" 
                                            value="null"
                                    >
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.2.id }}" 
                                        value="{{ week_menu.2.name_option_1.id }}" 
                                        id="option1aquarta"
                                        {% if user_choices|get_option:week_menu.2.id == week_menu.2.name_option_1.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1aquarta">{{ week_menu.2.name_option_1.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.2.id }}" 
                                        value="{{ week_menu.2.name_option_2.id }}" 
                                        id="option1bquarta"
                                        {% if user_choices|get_option:week_menu.2.id == week_menu.2.name_option_2.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1bquarta">{{ week_menu.2.name_option_2.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.2.id }}" 
                                        value="{{ week_menu.2.name_option_3.id }}" 
                                        id="option1cquarta"
                                        {% if user_choices|get_option:week_menu.2.id == week_menu.2.name_option_3.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1cquarta">{{ week_menu.2.name_option_3.name_option }}</label>
                                </div>
                            </div>
    
                        </div>
                        <div class="card-footer text-end">
                            <a href="{% url 'menu:progress_page' %}" class="btn btn-secondary btn-sm">?</a>
                        </div>
                    </div>
                </div>



                <!-- Card 1 (Quinta) -->
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ week_menu.3.image_meal.url }}"  class="card-img-top" alt="Imagem do card">
                        <div class="card-body text-white" id="card_quinta">
                            <p class="text-left"> {{ week_menu.3.date_meal }}  </p>
                            <h6 class="card-title text-left">Quinta-feira</h6>
                            <h5 class="text-left fw-bold"> {{ week_menu.3.title}} </h5>
                            <p class="text-left">Com {{ week_menu.3.side_dish}} </p>
                            <div class="d-flex flex-column align-items-start">
                                <div class="form-check form-check-inline">
                                    <input 
                                            type="hidden" 
                                            name="choice_{{ week_menu.3.id }}" 
                                            value="null"
                                    >
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.3.id }}" 
                                        value="{{ week_menu.3.name_option_1.id }}" 
                                        id="option1asegunda"
                                        {% if user_choices|get_option:week_menu.3.id == week_menu.3.name_option_1.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1aquinta">{{ week_menu.3.name_option_1.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.3.id }}" 
                                        value="{{ week_menu.3.name_option_2.id }}" 
                                        id="option1bquinta"
                                        {% if user_choices|get_option:week_menu.3.id == week_menu.3.name_option_2.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1bquinta">{{ week_menu.3.name_option_2.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.3.id }}" 
                                        value="{{ week_menu.3.name_option_3.id }}" 
                                        id="option1cquinta"
                                        {% if user_choices|get_option:week_menu.3.id == week_menu.3.name_option_3.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1cquinta">{{ week_menu.3.name_option_3.name_option }}</label>
                                </div>
                            </div>
    
                        </div>
                        <div class="card-footer text-end">
                            <a href="{% url 'menu:progress_page' %}" class="btn btn-secondary btn-sm">?</a>
                        </div>
                    </div>
                </div>



                <!-- Card 1 (Sexta) -->
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ week_menu.4.image_meal.url }}"  class="card-img-top" alt="Imagem do card">
                        <div class="card-body" id="card_sexta">
                            <p class="text-left"> {{ week_menu.4.date_meal }}  </p>
                            <h6 class="card-title text-left">Sexta-feira</h6>
                            <h5 class="text-left fw-bold"> {{ week_menu.4.title}} </h5>
                            <p class="text-left">Com {{ week_menu.4.side_dish}} </p>
                            <div class="d-flex flex-column align-items-start">
                                <div class="form-check form-check-inline">
                                    <input 
                                            type="hidden" 
                                            name="choice_{{ week_menu.4.id }}" 
                                            value="null"
                                    >
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.4.id }}" 
                                        value="{{ week_menu.4.name_option_1.id }}" 
                                        id="option1asexta"
                                        {% if user_choices|get_option:week_menu.4.id == week_menu.4.name_option_1.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1asexta">{{ week_menu.4.name_option_1.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.4.id }}" 
                                        value="{{ week_menu.4.name_option_2.id }}" 
                                        id="option1bsexta"
                                        {% if user_choices|get_option:week_menu.4.id == week_menu.4.name_option_2.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1bsexta">{{ week_menu.4.name_option_2.name_option }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="choice_{{ week_menu.4.id }}" 
                                        value="{{ week_menu.4.name_option_3.id }}" 
                                        id="option1csexta"
                                        {% if user_choices|get_option:week_menu.4.id == week_menu.4.name_option_3.id %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="option1csexta">{{ week_menu.4.name_option_3.name_option }}</label>
                                </div>
                            </div>
    
                        </div>
                        <div class="card-footer text-end">
                            <a href="{% url 'menu:progress_page' %}" class="btn btn-secondary btn-sm">?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <button type="submit" class="btn btn-success w-100 mt-3">Salvar Escolha</button>
    </form>



    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const radioButtons = document.querySelectorAll('input[type="radio"]');
            radioButtons.forEach((radio) => {
                radio.addEventListener("click", (event) => {
                    if (radio.dataset.clicked === "true") {
                        radio.checked = false; // Desmarca o botão
                        radio.dataset.clicked = "false"; // Atualiza o estado
                    } else {
                        radio.dataset.clicked = "true"; // Marca como clicado
                    }
                });
            });
        });
    </script>

    {% endblock content %}


    