{% extends "global/base.html" %}
{% load menu_filters %}

{% block title %}Relatório Faturamento{% endblock title %}



{% block content %}
    <!-- Título Principal -->
    <div class="text-center my-3">
        <h1 id="titulo_home" class="text-success-75">Relatório Faturamento</i></h1>
        <p>Correspondente ao período {{ weekly_menu.0.date_meal|date:"d/m" }}  à {{ weekly_menu.4.date_meal|date:"d/m" }}</p>

        <h3>FATURAMENTO {{ weekly_menu.0.date_meal|date:"d.m.Y" }} A {{ weekly_menu.4.date_meal|date:"d.m.Y" }}</h3>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Qt. colaboradores </th>
                </tr>
            </thead>
            <tbody>
                {% for company, data in company_data.items %}
                    <tr>
                        <td>{{ company }}</td>
                        <td>{{ data.employees_no_vacation_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3 class="text-center my-3" >FATURAMENTO (ENTREGA) {{ weekly_menu.0.date_meal|date:"d.m.Y" }} A {{ weekly_menu.4.date_meal|date:"d.m.Y" }}</h3>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Unidade</th>
                    <th></th>
                    <th>Qt. colaboradores</th>
                </tr>
            </thead>
            <tbody>
                {% for unit, total in employees_by_unit.items %}     
                    <tr>
                        <td> {{ unit }} </td>
                        <td>ALMOÇO (CUBA)</td>
                        <td> {{ total }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <label class="form-label fw-bold"> <h4> Total </h4> </label>
            <div><span class="fw-bold"> <h4> {{ total_employees_by_unit }} </h4> </span></div>
        </div>

        <div class="mt-4">
            <a href="{% url 'menu:generate_full_report_button' %}" class="btn btn-success">
                Gerar relatório completo
            </a>
        </div>

        {% comment %} <div class="mt-2">
            <a href="{% url 'menu:generate_pdf_report_unit' %}" class="btn btn-success">
                Gerar PDF Unidade 1
            </a>
        </div> {% endcomment %}
        
    </div>



{% endblock content %}